PORT=5027
TLS_CERT_PATH=certs/server.crt
TLS_KEY_PATH=certs/server.key

REDIS_HOST=redis
REDIS_PORT=6379
QUEUE_KEY=teltonika:packets

HUB_INGEST_URL=https://fleet.ritlijst.nl
TELTONIKA_INGEST_TOKEN=
HUB_INGEST_TIMEOUT_MS=30000
HUB_INGEST_RETRY_ATTEMPTS=3
HUB_INGEST_RETRY_DELAY_MS=1000
